.content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.table-border-light {
  border: 1px solid;
  border-color: var(--surface-color-border-default);
  background-color: var(--surface-color-background-white) !important;
}

.fa-spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.noContent {
  padding: var(--layout-padding-xlarge);
  gap: var(--layout-margin-medium);
  border: 0px 1px 1px 1px;
  background: #eceae8 !important;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #d8d8d8;
  height: 96px;
}

.noContentText {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--typography-color-secondary);
}

@media (max-width: 768px) {
  .hide-custom {
    display: none;
  }
}

.tableWidth {
  max-height: 50vh;
  width: 100%;
  overflow-x: scroll;
}

@media (min-width: 576px) {
  .positionSticky {
    position: sticky !important;
    /* left: 29px; */
    background-color: var(--surface-color-background-white) !important;
    z-index: 1;
  }

  .table td:first-child {
    /* position: sticky; */
    left: 0;
    background-color: var(--surface-color-background-white) !important;
    /* z-index: 1; */
  }

  .table th:first-child {
    /* position: sticky; */
    left: 0;
    /* z-index: 1; */
  }

  /* .positionSticky {
        position: sticky !important; 
        left: 29px;
     } */

  .table td:nth-child(2) {
    /* position: sticky; */
    left: 29px;
    background-color: var(--surface-color-background-white) !important;
  }

  .table th:nth-child(2) {
    /* position: sticky; */
    left: 29px;
    /* z-index: 1; */
  }

  .table td:last-child {
    /* position: sticky; */
    right: 0;
    background-color: var(--surface-color-background-white) !important;
    /* z-index: 1; */
  }

  .table th:last-child {
    /* position: sticky; */
    right: 0;
    /* z-index: 1; */
  }

  .table td:nth-last-child(2) {
    /* position: sticky; */
    right: 100px;
    background-color: var(--surface-color-background-white) !important;
    /* z-index: 1; */
  }

  .table th:nth-last-child(2) {
    /* position: sticky; */
    right: 100px;
    /* z-index: 1; */
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

div.tableWidth::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Define the thumb style */
div.tableWidth::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 5px;
}

div.tableWidth::-webkit-scrollbar-track {
  display: none;
}

.table-border-radius {
  border-radius: 4px 4px 0px 0px;
}

.triple {
  width: 60%;
}

.custom-small {
  width: 10%;
}

.xtraSmall {
  width: 5%;
}

.double {
  width: 40%;
}

table td {
  white-space: nowrap; /* Prevent text from wrapping initially */
  /* overflow: hidden; */
  text-overflow: ellipsis; /* Display ellipsis for overflowed text */
  word-wrap: break-word; /* Allow word breaks */
  overflow-wrap: break-word; /* Alternative for newer browsers */
  word-break: break-all; /* Allow breaks within words */
  background-color: var(--surface-color-background-white) !important;
  border: 1px solid;
  border-color: var(--surface-color-border-default);
}

/* table {
  overflow: hidden;
} */
