.content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.fa-spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.noContent {
  padding: var(--layout-padding-xlarge);
  gap: var(--layout-margin-medium);
  border: 0px 1px 1px 1px;
  background: #eceae8 !important;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #d8d8d8;
  height: 96px;
}

.noContentText {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.content-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--typography-color-secondary);
}

@media (max-width: 768px) {
  .hide-custom {
    display: none;
  }
}

.tableWidth {
  max-height: 50vh;
  width: 100%;
  overflow-x: scroll;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

div.tableWidth::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Define the thumb style */
div.tableWidth::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 5px;
}

div.tableWidth::-webkit-scrollbar-track {
  display: none;
}

.triple {
  width: 60%;
}

.custom-small {
  width: 10%;
}

.xtraSmall {
  width: 5%;
}

.double {
  width: 40%;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #D8D8D8 !important;
  border-radius: 4px 4px 0px 0px;
  white-space: nowrap;
}

thead th  {
  border-top: none !important;
  border-right: 1px solid #D8D8D8 !important;
  height: 40px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--surface-color-border-medium, #898785) !important;
  background: var(--theme-gray-20) !important;
  color: var(--typography-color-secondary) !important;
  font-family: Noto Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
}

thead th:last-child {
  border-right: none !important;
  border-radius: 0px 4px 0px 0px;
}

thead th:first-child {
  border-radius: 4px 0px 0px 0px;
}

th, td {
 border: none !important;
}

tbody td:last-child {
 border-right: none !important;
}

tbody tr:last-child td {
 border-bottom: none !important;
}

tbody td {
 border-bottom: 1px solid var(--surface-color-border-default, #D8D8D8) !important;
 border-right: 1px solid var(--surface-color-border-default, #D8D8D8) !important;
}