.widgetContainer {
  gap: var(--layout-margin-small);
}

.widgetLabel {
  font-weight: var(--typography-font-weights-bold);
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d);
  margin-bottom: 0;
  font-size: var(--typography-font-size-h4);
  line-height: var(--typography-line-heights-sparse);
}

.widgetRequiredField::after {
  content: ' *';
  color: red;
}

.widgetLblContainer {
  padding: var(--layout-padding-small) 0px var(--layout-padding-small) 0px;
  border-bottom: 1px solid var(--surface-border-light, #d8d8d8);
}
