body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--surface-color-background-light-gray, #faf9f8) !important;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-container {
  width: 100wh;
  height: 100vh;
}

/* Customizing the scrollbar */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Customizing the scrollbar track (the area where the scrollbar moves) */
::-webkit-scrollbar-track {
  background-color: #ffffff; /* Light gray background */
  border-radius: 50px; /* Rounded corners */
}

/* Customizing the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #4e4e4e; /* Dark gray color for the thumb */
  border-radius: 50px; /* Rounded corners for the thumb */
}

/* Customizing the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray on hover */
}
