.table-controls__columns-toggle-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.table-controls__button--selected {
  font-weight: bold;
  color: var(--surface-primary-default);
}

.columns-toggle {
  margin-left: 64px;
}
