.dashboard-title {
  color: var(--typography-color-primary);
  font-size: 48px;
  font-weight: 700;
  line-height: 65.38px;
  text-align: left;
}

.dashboard-btn {
  border: 1px solid var(--surface-border-dark, #353433);
  border-radius: var(--surface-border-radius-medium);
  padding: var(--layout-padding-small) var(--layout-padding-medium)
    var(--layout-padding-small) var(--layout-padding-medium);
  gap: var(--layout-margin-small);
}

.btn-lbl {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-dashboard-input-txt {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.custom-dashboard-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
  color: var(--surface-color-primary-default, #053662);
}
