.dashboard-title {
  color: var(--typography-color-primary);
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  vertical-align: middle;
}

.custom-dashboard-input-txt {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

a.custom-dashboard-input-txt {
  color: var(--typography-color-link, #255a90);
  text-decoration: underline;
  justify-content: left;
}

.custom-dashboard-link-wrapper:hover .custom-dashboard-input-txt,
.custom-dashboard-link-wrapper:hover .custom-dashboard-external-link {
  color: var(--typography-color-link-hover, #1a3f6b);
}

.custom-dashboard-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: var(--surface-color-primary-default, #053662);
}

.custom-dashboard-external-link {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: text-top;
  color: var(--typography-color-link, #255a90);
}

/* .custom-dashboard-external-link:hover {
  color: var(--typography-color-link-hover, #1A3F6B);
} */

.custom-dashboard-link span {
  font-family: Noto Sans !important;
}

.custom-dashboard-link:hover {
  color: var(--surface-color-primary-hover, #0a4b8c);
}

.custom-dashboard-widget-lbl {
  padding: var(--layout-padding-small) 0px var(--layout-padding-small) 0px;
}

.dashboard-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--layout-margin-large);
  justify-content: space-between;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-medium);
  border-radius: var(--layout-border-radius-large);
  padding: var(--layout-margin-medium);
  background: var(--surface-color-secondary-button-default, #ffffff);
  border: 1px solid var(--surface-color-border-default, #d8d8d8);
  flex: 1 1 calc(25% - var(--layout-margin-large));
  min-width: 200px;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.dashboard-card:hover {
  background: var(--surface-color-secondary-button-hover, #edebe9);
  border: 1px solid var(--surface-color-border-default, #d8d8d8);
  box-shadow:
    0px 3.2px 7.2px 0px #00000021,
    0px 0.6px 1.8px 0px #0000001a;
}

.dashboard-card:active {
  background: var(--Theme-gray-50, #d1cfcd);
  border: 2px solid var(--surface-color-border-active, #2e5dd7);
  box-shadow:
    0px 3.2px 7.2px 0px #00000021,
    0px 0.6px 1.8px 0px #0000001a;
}

.dashboard-card-title {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: var(--typography-color-secondary, #474543);
}

.dashboard-card-id {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--typography-color-primary, #2d2d2d);
}

.dashboard-card-address {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 27.01px;
  color: var(--typography-color-primary, #2d2d2d);
}

.dashboard-error-container {
  padding: 20px 0 20px 0;
  max-width: 100%;
}

.dashboard-error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 20px;
}

.dashboard-error-details {
  margin: 0;
}

.dashboard-btn-text {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}

.dashboard-btn-icon {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}

.dashboard-btn {
  width: 100%; /* Mobile-first */
  min-width: 140px;
  height: 36px;
  border-radius: var(--layout-margin-xsmall);
  padding: var(--layout-padding-medium) var(--layout-padding-large)
    var(--layout-padding-medium) var(--layout-padding-large) !important;
}

.dashboard-view-all-link {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 30.61px;
  text-decoration: none;
  color: var(--typography-color-link, #255a90);
}

.dashboard-view-all-link:hover {
  color: var(--typography-color-link-hover, #1a3f6b);
}

/* >=576px */
@media (min-width: 576px) {
  .dashboard-btn {
    width: 215px;
    height: 40px;
    padding: var(--layout-padding-small) var(--layout-padding-medium);
    border-radius: var(--layout-border-radius-medium);
    gap: var(--layout-margin-small);
  }
}

/* >=768px */
@media (min-width: 768px) {
  .dashboard-btn {
    width: 215px;
    height: 40px;
    padding: var(--layout-padding-small) var(--layout-padding-medium);
    border-radius: var(--layout-border-radius-medium);
    gap: var(--layout-margin-small);
  }
}

/* >=900px */
@media (min-width: 900px) {
  .dashboard-btn {
    width: 215px;
    height: 40px;
    padding: var(--layout-padding-small) var(--layout-padding-medium);
    border-radius: var(--layout-border-radius-medium);
    gap: var(--layout-margin-small);
  }
}

/* >=1200px */
@media (min-width: 1200px) {
  .dashboard-btn {
    width: 215px;
    height: 64px;
    padding: var(--layout-padding-medium) var(--layout-padding-large);
    border-radius: var(--layout-margin-xsmall);
  }
  .dashboard-btn-text,
  .dashboard-btn-icon {
    font-size: 18px;
    line-height: 32px;
  }

  .dashboard-title {
    font-size: 48px;
  }
}

/* >=1320px */
@media (min-width: 1320px) {
  .dashboard-btn {
    width: 215px;
    height: 64px;
    padding: var(--layout-padding-medium) var(--layout-padding-large);
    border-radius: var(--layout-margin-xsmall);
    gap: var(--layout-margin-small);
  }

  .dashboard-btn-text,
  .dashboard-btn-icon {
    font-size: 18px;
    line-height: 32px;
  }

  .dashboard-title {
    font-size: 48px;
  }
}

.custom-dashboard-header {
  font-family: Noto Sans;
  vertical-align: middle;
  min-width: 100px;
}

.custom-dashboard-tbl-header {
  font-family: Noto Sans;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
}

@media (max-width: 1280px) {
  .custom-dashboard-column-position {
    position: sticky;
    right: 0;
    z-index: 1;
    box-shadow:
      -3px 0 3px 0 #00000021,
      -0.6px 0 1.8px 0 #0000001a !important;
  }
}
