.custom-label {
    color: var(--typography-color-primary); 
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.custom-input {
    border: 1px solid var(--surface-color-border-light, #D8D8D8) !important;
    background-color: var(--surface-background-white, #FFFFFF) !important;
    padding: var(--layout-padding-small) var(--layout-padding-medium) var(--layout-padding-small) var(--layout-padding-medium) !important;
    border-radius: var(--layout-margin-xsmall) !important;
}

.custom-input-text { 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.custom-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--typography-color-disabled);
}

.custom-date-range .rs-input-group {
    border: 1px solid var(--surface-color-border-light, #D8D8D8) !important;
    background-color: var(--surface-background-white) !important;
    padding: 3px 0px 3px var(--layout-padding-medium); 
    border-radius: var(--layout-margin-xsmall) !important;
}

.custom-date-range .rs-input{
    padding: 0;
}
.custom-date-range.rs-picker-toggle-wrapper{
    display: block;
}

.rs-input::placeholder  {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--typography-color-disabled);
}

.custom-select {
    background-image: url('../../images/dropdown.png') !important;
    background-repeat: no-repeat !important;
    background-position: right .75rem center !important;
    background-size: 12px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    text-align: left;
}

.custom-disabled-option {
    color: var(--typography-color-disabled) !important;
}
.custom-primary-option {
    color: var(--typography-color-primary) !important;
}

.custom-option {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    text-align: left;
}

.custom-input.error:focus {
    border-color: red;
    box-shadow: 0 0 0 .25rem rgba(255,0,0, 0.25);
}

.custom-form-image {
        border-radius: 100px;
        height: 27px;
        width: 27px;
}

.custom-checkbox[type="checkbox"]:checked {
    background:#313132;
}