---
Domain: #<DEFINE_ME>
resources:
  limits:
    cpu: 200m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 512Mi

formsflow:
  configmap: forms-flow-ai # name of formsflow.ai configmap
  secret: forms-flow-ai #name of formsflow.ai secret
  auth: forms-flow-ai-auth
ingress:
  ingressClassName: ""
  annotations:

  enabled: true # create an ingress for this component
  hostname: "{{.Chart.Name}}-{{.Release.Namespace}}.{{tpl .Values.Domain .}}"
  port: 5006
  tls: true
  selfSigned: false
  extraTls:
    - {}
image:
  registry: docker.io
  repository: formsflow/forms-flow-documents-api
  tag: v5.2.0-epd #The image tag to pull from
