.controls {
    /* background-color: var(--dark-gray); */
    /* Same as --dark-gray, but with alpha set */
    background-color: rgb(113 113 113 / 74%);
    padding: 1em;
    border-radius: 10px;


    position: absolute;
    left: 20px;

    /* TODO: Revert top to 75px after moving map control +/- button */
    top: 75px;
    /* top: 175px; */
    width: calc(100% - 40px);
    z-index: 999;
}

.mapContainer {
    /* min-height: 400px; */
    min-height: calc(100vh - 59px);
    /* background-color: orange; */
}

/* For prod, likely need a bunch of breakpoints here to make mobile */
.mapSearch {
    /* min-width: 750px; */
    min-width: 50vw;
}

.detailsPane {
    position: absolute;
    right: 20px;
    min-height: 400px;
    min-width: 400px;
    top: 200px;
    background-color: white;
    border: 2px solid gray;
    z-index: 999;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
}

.detailsPane > * {
    max-width: 400px;
}

.detailsPaneContent {
    flex-wrap: wrap;
    gap: 20px;
}

/* .detailsPaneContent {
    max-width: 400px;
} */
/* 
.detailsPane.fadeOut {
    height: 0;
} */