.metadata {
    background-color: var(--main-gray);
}

.metadataGrid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
    /* grid-template-columns: repeat(12, minmax(400px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: 20px;
}

.metadataGridItem {
    border: 1px solid black;
    border-radius: 3px;
    grid-column: span 2;
}

.metadataGridItem > div {
    padding: 0 1rem;
}

.gridFullwidth {
    grid-column: 1 / span 6 !important;
}

.gridHalfWidth {
    grid-column: span 1;
}



.formLabel {
    font-weight: bolder;
    background-color: var(--header-gray);
}