---
Domain: #<DEFINE_ME>
analytics:
  configmap: forms-flow-analytics # name of formsflow analytics configmap
  secret: forms-flow-analytics #name of formsflow analytics secret
formsflow:
  configmap: forms-flow-ai # name of formsflow.ai configmap
  secret: forms-flow-ai #name of formsflow.ai secret
  auth: forms-flow-ai-auth
web:
  base_custom_url: ""
  custom_theme_url: ""
ingress:
  ingressClassName: ""
  annotations:

  enabled: true # create an ingress for this component
  hostname: "{{.Chart.Name}}-{{.Release.Namespace}}.{{tpl .Values.Domain .}}"
  port: 8080
  tls: true
  selfSigned: false
  extraTls:
    - {}
resources:
  limits:
    cpu: 400m
    memory: 1Gi
  requests:
    cpu: 300m
    memory: 512Mi
image:
  registry: docker.io
  repository: formsflow/forms-flow-web
  tag: 5.2.0-epd
config_path: /usr/share/nginx/html/config/
webclient: "{{.Chart.Name}}"
webname: formsflow
