.custom-staff-edit-lbl {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--typography-color-primary, #2d2d2d);
}

a.custom-staff-edit-lbl {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  gap: var(--layout-margin-xsmall);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--surface-color-primary-default, #053662);
}

.custom-tbl-header {
  text-align: center;
  vertical-align: middle;
}

.custom-widget-container {
  gap: var(--layout-margin-medium);
}

.progress {
  height: 24px !important;
  border-radius: var(--layout-border-radius-large) !important;
}

.progress .progress-bar {
  border-radius: var(--layout-border-radius-large);
}

.custom-modal-lbl {
  font-weight: 700;
  font-size: 18px;
  line-height: 30.61px;
  letter-spacing: 0%;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-modal-widget-lbl {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-apps-modal-lbl {
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  justify-content: flex-start;
  color: var(--typography-color-secondary, #474543);
}

a.custom-apps-modal-lbl {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--typography-color-link, #255a90);
}

.custom-staff-header {
  font-family: Noto Sans;
  vertical-align: middle;
  min-width: 100px;
}

.custom-staff-tbl-header {
  font-family: Noto Sans;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
}

@media (max-width: 576px) {
  .custom-staff-column-position {
    position: sticky;
    right: 0;
    z-index: 1;
    box-shadow:
      -3px 0 3px 0 #00000021,
      -0.6px 0 1.8px 0 #0000001a !important;
  }
}

.custom-staff-modal-content {
  min-width: 50vw;
}

/* These classes are automatically applied by React-Bootstrap based on the `variant` prop */
.bg-under-half {
  background-color: var(--support-border-color-success, #42814a) !important;
}

.bg-over-half {
  background-color: var(--theme-gold-80, #f9c462) !important;
}

.bg-at-capacity {
  background-color: var(--theme-gold-100, #fcba19) !important;
}

.bg-over-capacity {
  background-color: var(--support-border-color-danger, #ce3e39) !important;
}
