---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: "{{ .Chart.Name }}"
  name: "{{ .Chart.Name }}"
data:
  REDASH_HOST: "{{ tpl .Values.ingress.hostname . }}"
  REDASH_DATABASE_URL: "{{ tpl .Values.database.url . }}"
  REDASH_DATABASE_USERNAME: "{{ .Values.database.username }}"
