.rowsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--layout-margin-large);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--layout-margin-medium);
}

.rowGrid6 {
  grid-template-columns: repeat(6, 1fr);
}

.rowGrid2 {
  grid-template-columns: repeat(2, 1fr);
}

.cell label {
  display: block;
  font: var(--typography-bold-small-body);
  color: var(--typography-color-secondary);
  margin-bottom: var(--layout-margin-xsmall);
}

.cell div {
  font: var(--typography-regular-body);
  color: var(--typography-color-primary);
}

.siteInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--layout-margin-large);

  @media (max-width: 992px) {
    /* 992px - bootstrap's LG breakpoint */
    grid-template-columns: 1fr;
  }
}

.mapContainer {
  height: 430px;
  width: 100%;
}

.siteLink {
  text-decoration: none;
  color: var(--typography-color-link);
  display: flex;
  align-items: center;
  gap: var(--layout-margin-xsmall);

  &:hover {
    text-decoration: underline;
  }
}

.siteDetailsHeader {
  display: flex;
  gap: var(--layout-margin-xsmall);
  justify-content: flex-end;
  margin: var(--layout-margin-small) 0px;
  padding-bottom: var(--layout-padding-xsmall);
  border-bottom: 1px solid var(--surface-color-border-default);
}
