.topheading-border-bottom {
    z-index: 2000;
    border-bottom: 2px solid #fcba19!important;
    padding: 0 0.5rem !important;
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
      0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    background-color: #036  !important;
  }


  .custom-app-name
  {
    color: white !important;
    font-family: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;
  }

  .mr-auto.active.align-items-lg-center.navbar-nav
  {
    background-color: #036  !important;
  }

  .main-nav.nav-item.nav-link
  {
    color:white !important;
  }

  .main-nav.nav-item.nav-link:hover
  {
    color:white !important;
  }

  .main-nav.nav-item.nav-link:active
  {
    color:white !important;
  }

  header div.container-fluid
  {
    height: 62px !important;
  }

  .main-nav.nav-item.active-tab.nav-link
  {
    filter:none !important;
  }

  .main-nav.nav-item.taskDropdown.active-tab.nav-link
  {
    filter:none !important;
  }

  a.dropdown-toggle.nav-link 
  {
    color: white !important;
  }

  a.dropdown-toggle.nav-link i.fa.fa-globe.fa-lg.mr-2
  {
    color: white !important;
  }

  a.dropdown-toggle.nav-link i.fa.fa-user.fa-lg.mr-1
  {
    color: white !important;
  }


  .img-fluid.logoImage
  {
    width:155px !important;
    height: 41px !important;
  }