#accordion-item-header button {
  font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
  color: #38598a;
  font-style: normal;
  font-weight: 700;
  background-color: #f2f2f2;
}
#accordion-item button::after {
  caret-color: red;
}
