.checkbox-column {
  padding: 7px 8px 0px 8px !important;
  width: 0% !important;
  min-width: 40px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

thead th.checkbox-column {
  padding: 8px !important;
}

.checkbox-color:hover,
.checkbox-color:checked {
  accent-color: #474543;
}

.column-sort-icon {
  font-size: 14px;
  line-height: 21.01px;
  font-weight: 900;
  height: 21px;
  color: var(--icons-color-disabled);
  width: 9px;
  margin-left: 5px;
}