.side-bar {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 3.2px 7.2px 0px rgba(0, 0, 0, 0.13);
  top: 65px;
  padding: var(--layout-padding-large) var(--layout-padding-large)
    var(--layout-padding-large) var(--layout-padding-large);
  justify-content: space-between;
  min-height: calc(100vh - 65px) !important;
  border-right: 1px solid var(--surface-color-border-light, #d8d8d8);
  width: 240px;
  max-width: 240px;
}

.sideBar-Nav {
  display: flex;
  gap: 24px;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0px;
}

.sideBar-NavItem {
  height: 40px;
  padding: var(--layout-padding-small);
  cursor: default;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sideBarDisplayText {
  display: block;
  text-decoration: none !important;
}

.sideBar-NavLabel {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #474543;
}

.sideBar-Icon {
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--surface-color-primary-default);
}

.nav-section-bold-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.01px;
  text-align: left;
}

.nav-color-secondary {
  color: var(--typography-color-secondary);
}

.nav-color-primary-default {
  color: var(--surface-color-primary-default);
}

.currentPath {
  background: var(--surface-color-primary-default);
  border-radius: 0px;
  width: 100%;
  justify-content: flex-start;
}

.currentPath .sideBar-Icon,
.currentPath .sideBarDisplayText {
  color: white !important;
}

.sideBarDisplayText:hover {
  color: var(--surface-color-primary-default) !important;
}

.currentPath .sideBarDisplayText:hover {
  color: var(--surface-color-menus-hover) !important;
}

.cart-items-number {
  display: block;
  text-decoration: none;
}

.sidebar-menu-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  width: 100%;
}

.sideBar-menu-item-hover:hover {
  background: var(--surface-color-primary-hover);
  width: 100%;
}

.sideBar-menu-item-hover:hover .sideBar-Icon,
.sideBar-menu-item-hover:hover .sideBarDisplayText {
  color: white !important;
}
