#Keycloak
{{- $keycloakSecret:= .Values.global.secrets.keycloakSecret }}
{{- $keycloakRealm:= .Values.global.secrets.keycloakRealm }}
{{- $keycloakClientID:= .Values.global.secrets.keycloakClientID }}
{{- $keycloakAuthURL:= .Values.global.secrets.keycloakAuthURL }}
{{- $chesClientID:= .Values.global.secrets.chesClientID }}
{{- $chesClientSecret:= .Values.global.secrets.chesClientSecret }}


---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend # secrets that will be only exposed to backend  container
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  KEYCLOAK_SECRET: {{ $keycloakSecret | b64enc | quote }}
  KEYCLOAK_REALM: {{ $keycloakRealm | b64enc | quote }}
  KEYCLOAK_CLIENT_ID: {{ $keycloakClientID | b64enc | quote }}
  KEYCLOAK_AUTH_URL: {{ $keycloakAuthURL | b64enc | quote }}
  CHES_CLIENT_ID: {{ $chesClientID | b64enc | quote }}
  CHES_CLIENT_SECRET: {{ $chesClientSecret | b64enc | quote }}
