#Keycloak
{{- $keycloackSecret:= .Values.global.secrets.keycloakSecret }}
{{- $keycloackRealm:= .Values.global.secrets.keycloakRealm }}
{{- $keycloackClientID:= .Values.global.secrets.keycloakClientID }}
{{- $keycloackAuthURL:= .Values.global.secrets.keycloakAuthURL }}
{{- $chesClientID:= .Values.global.secrets.chesClientID }}
{{- $chesClientSecret:= .Values.global.secrets.chesClientSecret }}


---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend # secrets that will be only exposed to backend  container
  labels: {{- include "labels" . | nindent 4 }}
  {{- if .Values.global.secrets.persist }}
  annotations:
    helm.sh/resource-policy: keep
  {{- end }}
data:
  KEYCLOAK_SECRET: {{ $keycloackSecret | b64enc | quote }}
  KEYCLOAK_REALM: {{ $keycloackRealm | b64enc | quote }}
  KEYCLOAK_CLIENT_ID: {{ $keycloackClientID | b64enc | quote }}
  KEYCLOAK_AUTH_URL: {{ $keycloackAuthURL | b64enc | quote }}
  CHES_CLIENT_ID: {{ $chesClientID | b64enc | quote }}
  CHES_CLIENT_SECRET: {{ $chesClientSecret | b64enc | quote }}
