.custom-invoices-header {
  font-family: Noto Sans !important;
  vertical-align: middle;
  min-width: 100px;
}

a.custom-invoices-txt {
  font-family: Noto Sans !important;
  color: var(--typography-color-link, #255a90);
  text-decoration: underline;
  justify-content: left;
}

.custom-invoices-link {
  font-family: Noto Sans !important;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: var(--surface-color-primary-default, #053662);
}

.custom-invoices-link:hover {
  color: var(--surface-color-primary-hover, #1c5c9b);
}

a.custom-invoices-txt:hover {
  color: var(--typography-color-link, #255a90);
}

.custom-invoices-txt {
  color: var(--typography-color-secondary, #474543);
}

.custom-invoices-tbl-header {
  font-family: Noto Sans;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
}

@media (max-width: 1040px) {
  .custom-invoices-column-position {
    position: sticky;
    right: 0;
    z-index: 1;
    box-shadow:
      -3px 0 3px 0 #00000021,
      -0.6px 0 1.8px 0 #0000001a !important;
  }
}

.custom-invoices-lbl {
  font-family: Noto Sans !important;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-invoices-input {
  cursor: not-allowed;
  opacity: 1;
  background-color: var(--surface-color-secondary-disabled) !important;
  border-color: var(--surface-color-secondary-disabled);
  border: 1px solid var(--surface-color-border-default, #d8d8d8) !important;
  padding: var(--layout-padding-small) var(--layout-padding-medium)
    var(--layout-padding-small) var(--layout-padding-medium) !important;
  border-radius: var(--layout-margin-xsmall) !important;
  color: var(--typography-color-disabled) !important;
}

.custom-invoices-input-txt {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-invoices-dot {
  font-weight: 700;
}

.custom-invoice-heading {
  font-family: Noto Sans !important;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 34px;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-invoice-modal-content {
  min-width: 50vw;
}
