.section-details-header
{
    /* display: flex;
    flex-direction: column; */
    /* gap: var(--layout-margin-small); */
}

.section-container
{
    padding: var(--layout-padding-medium) var(--layout-margin-xxlarge) var(--layout-padding-xlarge) var(--layout-margin-xxlarge);
    gap: var(--layout-margin-medium);
    border-radius: var(--layout-border-width-medium);
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: var(--surface-background-white);
    border: 1px solid var(--surface-border-light);
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
}


.section-container-label
{
    display: flex;
    gap: var(--layout-margin-large);
}

.summary-details-border
{
    border-bottom: 1px solid var(--surface-border-light);
    padding: var(--layout-padding-small) 0px var(--layout-padding-small) 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;

}


.section-content-label
{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: var(--typography-color-primary);
} 


.summary-details-header
{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: var(--typography-color-primary);
}

.view-map
{
    gap: var(--layout-margin-xsmall);
    border-radius: var(--layout-border-width-medium);
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    border: 1px solid var(--surface-border-dark);
    padding: var(--layout-padding-xsmall) var(--layout-padding-small) var(--layout-padding-xsmall) var(--layout-padding-small);
}


.section-container-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-back, .btn-cart {
    padding: var(--layout-padding-small) var(--layout-padding-medium) var(--layout-padding-small) var(--layout-padding-medium);
    border-radius: var(--surface-border-radius-medium);
    gap: var(--layout-margin-small);
    background: var(--surface-color-primary-default, #053662);
}

.btn-folio {
    padding: var(--layout-padding-small) var(--layout-padding-medium) var(--layout-padding-small) var(--layout-padding-medium);
    border-radius: var(--surface-border-radius-medium);
    gap: var(--layout-margin-small);
    border: 1px solid var(--surface-color-border-dark, #353433)
}

.btn-back-lbl, .btn-cart-lbl {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--typography-color-primary-invert, #FFFFFF);
}

.btn-folio-lbl {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--typography-color-primary, #2D2D2D);
}

.btn-icon {
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    color: var(--typography-color-primary-invert, #FFFFFF);
}

.btn-folio-icon {
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    color: var(--typography-color-primary, #2D2D2D);
}


.parcel-edit-div
{
    display: flex;
    gap: var(--layout-margin-small);
}


.justify-align-center
{
    justify-content: center;
    align-items: center;
}