.custom-lbl-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 21.01px;
    text-align: left;
    color: var(--typography-color-secondary, #474543);
}

.custom-input-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.01px;
    text-align: left;   
    height: 40px;
    color: var(--typography-color-secondary);
    }