.application-results__view-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--layout-margin-xsmall);
  text-decoration: none;
  font-weight: bold;
  color: var(--theme-primary-blue);
}
