.textSearch
{
    height: 65px !important;
    padding: var(--layout-padding-medium) var(--layout-padding-large) var(--layout-padding-medium) var(--layout-padding-large) !important;
    margin: var(--layoutmarginsmall) !important;
    border-radius: var(--layout-margin-xsmall) !important;
    border: 1px solid !important;
    border-color: var(--support-support-border-color-info) !important;
    font-family: 'BCSans' !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    
}

.siteSearchContainer
{
    padding: var(--layout-margin-xxlarge) var(--layout-margin-xxlarge) var(--layout-margin-huge) var(--layout-margin-xxlarge);
    gap: var(--layout-margin-xxlarge);
    display: flex;
    flex-direction: column;
}


.search-container
{
    display: flex;
    gap: var(--layout-margin-large);
    flex-direction: column;
}

.search-result-actions
{
    display: flex;
    gap: var(--layout-margin-small);
    flex-direction: row;
    flex-wrap: wrap;
}


.search-result-actions-btn
{
    /* width: 212px; */
    align-items: center;
    display: flex;
    height: 40px;
    padding: var(--layout-padding-small) var(--layout-padding-medium) var(--layout-padding-small) var(--layout-padding-medium);
    border-radius: var(--layout-border-Radius-medium);
    gap: var(--layout-margin-small);
    border: 1px solid;
    border-color: var(--surface-border-dark);
    font-family: 'BCSans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
   
}

.search-result-actions-btn:hover
{
    background: var(--surface-primary-default);
    color: var(--typography-color-primary-invert);
}

.backgroudWhite
{
    background: white;
}


.fa-spin
{
    animation: spin 1s infinite linear;
}

.search-text-label
{
    font-family: 'BCSans';
    font-weight: 700;
    line-height: 1.5;
    font-size: 48px;
    color: var(--typography-color-primary);
    margin: var
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 


.search-results-section-header
{
    border: 1px solid;
    border-color: var(--surface-border-light);
    height: 40px;
    margin-bottom: 10px;
}

.search-results-section-header-top
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: var(--surface-border-light);
    height: 40px;
    margin-bottom: 10px;

}

.table-actions
{
    display: flex;
    gap:8px;
}

.search-results-section-title
{
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'BCSans';
}

.search-results-th
{
    font-family: 'BCSans';
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--typography-color-secondary);
        border-right: 1px solid #D8D8D8;
        border-left: 1px solid #D8D8D8;
       
        background: var(--surface-brand-gray-20) !important;

}


.search-results-sort-icon
{
    font-size: 14px;
    line-height: 21.01px;
    font-weight: 900;
    height: 21px;
    color: var(--icons-icons-disabled);
    width: 9px;
    margin-left: 5px;
}



.noContent
{
    padding: var(--layout-padding-xlarge);
    gap: var(--layout-margin-medium);
    border: 0px 1px 1px 1px;
    background: #ECEAE8 !important;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #D8D8D8;
    height:96px;

}


.noContentText
{
    font-family: 'BCSans';
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.table-actions-items
{
    left: 32px;
    padding: var(--layout-padding-small) var(--layout-padding-medium) var(--layout-padding-small) var(--layout-padding-medium);
    gap: 8px;
    border-radius: var(--layout-border-medium) var(--layout-border-medium) 0 0;
    border: 0px 0px 1px 0px;
    align-items: center;
    display: flex;
    font-family: 'BCSans';
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}


.checkbox-color:hover, .checkbox-color:checked 
{
    accent-color: #474543;
}

.border-quick-color
{
    border: 1px solid;
    border-color: var(--surface-border-light);
}


.search-results-text
{    
    font-family: 'BCSans';
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color:var(--typography-color-secondary);
}

.clear-button
{
    position: relative;
    float: right;  
    right: 40px;
}

.active
{
    
    padding: var(--layout-padding-small) var(--layout-padding-medium) var(--layout-padding-small) var(--layout-padding-medium);
    gap: 8px;
    border-radius: var(--surface-border-radius-medium) var(--surface-border-radius-medium) 0px 0px;
    background: var(--surface-primary-default);
    border-bottom: 1px solid var(--surface-color-border-light);
    color: white;
}