.custom-person-name {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.38px;
    color: var(--typography-color-primary, #2D2D2D);
}

.custom-people-lbl {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: var(--typography-color-secondary, #474543);
}

.custom-people-edit-lbl {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--typography-color-primary, #2D2D2D);
}

a.custom-people-edit-lbl {
    gap: var(--layout-margin-xsmall);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--surface-color-primary-default, #053662);
}

.custom-people-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.01px;
    color: var(--typography-color-primary, #2D2D2D);
}

.custom-people-edit-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: var(--typography-color-secondary, #474543);
}

.custom-widget {
    gap: var(--layout-margin-medium)
}

.custom-note-tbl-header {
    text-align: center;
    vertical-align: middle; 
}