.custom-person-name {
  font-size: 48px;
  font-weight: 700;
  line-height: 65.38px;
  padding-top: 40px;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-people-lbl {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: var(--typography-color-secondary, #474543);
}

.custom-people-edit-lbl {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--typography-color-primary, #2d2d2d);
}

a.custom-people-edit-lbl {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  gap: var(--layout-margin-xsmall);
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--surface-color-primary-default, #053662);
}

.custom-people-permission-edit-lbl {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-people-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.01px;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-people-edit-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--typography-color-secondary, #474543);
}

.custom-widget {
  gap: var(--layout-margin-medium);
}

.custom-note-tbl-header {
  text-align: center;
  vertical-align: middle;
}

/* Header */

.custom-person-header {
  padding: var(--layout-margin-large) var(--layout-margin-xxlarge) 0
    var(--layout-margin-xxlarge);
  gap: var(--layout-margin-xxlarge);
}
.custom-person-sticky-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  z-index: 999 !important;
  top: 65px;
  left: 128px;
  padding: var(--layout-margin-large) var(--layout-margin-xxlarge)
    var(--layout-margin-large) var(--layout-margin-xxlarge);
  gap: var(--layout-margin-xxlarge);
  background: var(--surface-color-background-white, #ffffff);
  border-bottom: 1px solid var(--surface-color-border-default, #d8d8d8);
}

@media (max-width: 768px) {
  .custom-person-sticky-header {
    align-items: flex-start !important;
  }
}

.custom-person-sticky-header-lbl {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.01px;
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-person-sticky-header-lbl > div > span {
  font-weight: 400;
  padding-left: 8px;
}

.custom-note-modal-edit-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--typography-color-secondary, #474543);
}

.custom-note-modal-edit-input {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left;
  color: var(--typography-color-secondary, #474543);
}

.custom-note-modal-edit-input
  .rs-input-group.rs-input-group-inside
  .rs-input-group-addon {
  top: 0;
  background: none;
  border: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.custom-note-modal-edit-input .rs-input {
  padding: 10px 11px !important;
}

.custom-search-input-container {
  position: relative;

  & > .custom-search-box-container {
    position: unset !important;
  }
}

.custom-search-input-menu {
  position: absolute;
  width: 100% !important;
  top: 43px !important;
  left: 0 !important;
  max-height: none !important;
}
