.custom-person-name {
    font-size: 48px;
    font-weight: 700;
    line-height: 65.38px;
    color: var(--typography-color-primary, #2D2D2D);
}
.custom-people-lbl {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: var(--typography-color-secondary, #474543);
}
.custom-people-edit-lbl {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--typography-color-primary, #2D2D2D);
}

a.custom-people-edit-lbl {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    gap: var(--layout-margin-xsmall);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--surface-color-primary-default, #053662);
}

.custom-people-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.01px;
    color: var(--typography-color-primary, #2D2D2D);
}
.custom-people-edit-txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: var(--typography-color-secondary, #474543);
}

.custom-widget {
    gap: var(--layout-margin-medium)
}

.custom-note-tbl-header {
    text-align: center;
    vertical-align: middle; 
}


/* Header */

.custom-person-header {
    padding: var(--layout-margin-large) var(--layout-margin-xxlarge)
      0 var(--layout-margin-xxlarge);
    gap: var(--layout-margin-xxlarge);
}
.custom-person-sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    z-index: 999 !important;
    top: 65px;
    left: 128px;
    padding: var(--layout-margin-large) var(--layout-margin-xxlarge)
      var(--layout-margin-large) var(--layout-margin-xxlarge);
    gap: var(--layout-margin-xxlarge);
    background: var(--surface-background-white, #ffffff);
    border-bottom: 1px solid var(--surface-border-light, #d8d8d8);
}

@media (max-width: 768px) {
    .custom-person-sticky-header {
      align-items: flex-start !important;
    }
}

.custom-person-sticky-header-lbl {
    font-size: 14px;
    font-weight: 700;
    line-height: 21.01px;
    text-align: left;
    color: var(--typography-color-primary, #2d2d2d);
}

.custom-person-sticky-header-lbl > div > span {
    font-weight: 400;
    padding-left: 8px;
}