.page-continer {
  padding: var(--layout-margin-xxlarge) var(--layout-margin-xxlarge) var(--layout-margin-huge)
    var(--layout-margin-xxlarge);
  gap: var(--layout-margin-xxlarge);
  display: flex;
  flex-direction: column;
}
